@model CareAlz.Models.RequestInstitute

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Solicitud</h2>

<div>
    <h4>RequestInstitute</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.SendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Aceptar Solicitud", "ValidarSolicitud", new { id = Model.RequestId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Cancelar", "Index", new { }, new {@class = "btn btn-danger" })
</p>
